@model TimeNotas.App.Models.HourPointConfigurationsModel

@{
    ViewData["Title"] = "Configurations";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="WorkDays" class="control-label"></label>
                <select asp-for="WorkDays" asp-items="Model.GetWorkDaysDescriptions()" class="form-control"></select>
                <span asp-validation-for="WorkDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeHour" class="control-label"></label>
                <input asp-for="OfficeHour" class="form-control" />
                <span asp-validation-for="OfficeHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchTime" class="control-label"></label>
                <input asp-for="LunchTime" class="form-control" />
                <span asp-validation-for="LunchTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartWorkTime" class="control-label"></label>
                <input asp-for="StartWorkTime" class="form-control" />
                <span asp-validation-for="StartWorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToleranceTime" class="control-label"></label>
                <input asp-for="ToleranceTime" class="form-control" />
                <span asp-validation-for="ToleranceTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
