@model TimeNotas.App.Models.TimeEntryModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Apontamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.HourPointsId)
            <div class="form-group">
                <label asp-for="DateHourPointed" class="control-label"></label>
                <input asp-for="DateHourPointed" class="form-control" />
                <span asp-validation-for="DateHourPointed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> | 
    @Html.ActionLink("Delete", "Delete", new { timeEntryId = Model.Id })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
